body {
  font-family: 'Arvo', serif;
  background: rgb(116,101,96);
}

.my_beuty_title {
  font-size: 130%;
  font-weight: normal;
  text-align: center; 
  color: rgb(10,220,150);
  margin-top: 0px;
  margin-bottom:2%;
}

.button_list{
  margin-top: 5%;
}

#alcohol_type_ul {
  list-style:none;
  margin: 0;
  padding: 1px;
  border-bottom: 1px solid rgb(80,75,75);
  border-top: 1px solid rgb(130,125,120);
  
}

#alcohol_type_ul li {
  display: inline;
  margin: 0;
  border-top: 1px solid rgb(80,75,75);
  border-bottom: 1px solid rgb(130,125,120);
  padding: 0;
}

#alcohol_type_ul li button {
  background:rgb(116,101,96);
  width: 47%;
  margin: -2px;
  padding: 2px;
}



.left {
  border-right: 1px solid rgb(76,70,70); 
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  
}

.right {
  border-right: 0px;
  border-left: 1px solid rgb(126,121,116);
  border-top: 0px;
  border-bottom: 0px;
}



/*

.middle{
  border-top: 1px solid rgb(276,276,275);
}
*/

#nav input{
  font-family: 'Arvo', serif;
  width:47%;
  margin-top:3%;
  background:rgb(10,220,150);
  border-style: solid;
  border-right: 5px solid rgb(10,200,130);
  border-bottom: 7px solid rgb(10,200,130);
  border-top:0;
  border-left:0;
  border-radius: 10px;
  font-size: 130%;
  color:rgb(255,255,255);
  padding: 3%;

  
}
